@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
  }

.container {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-body {
    background-color: #4d2b1f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-body {
    background-color: #d2b48c; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .register-body {
    background-color: #d2b48c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  button {
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #555;
  }
  
